.logo{
    display: block;
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    }
    .logo-web{ 
    color:var(--secondary-title-color);
    }
    .logo-web-footer
    {color:var(--primary-title-color);
    }