:root { 
    --primary-title-color:#ffffff;
    --secondary-title-color:#212121;
    --primery-text-color:#757575;
    --accent-color:#2196F3;
    --color-btn:#F5F4FA;
    --color-footer:#2F303A;
    --adre-contacts:rgba(255, 255, 255, 0.6);
    --client-color: #AFB1B8;
    --footer-social-icon:#44454E;
    --border-modal: rgba(33, 33, 33, 0.2);
    --accent-next:#188CE8;
    --accent-color-modal-btn:#188CE8;
    }